@import "../_variables.scss";

aside {
  display: flex;
  justify-content: center;
  background-color: $color-green;
  padding: $main-padding $main-padding;

  .dataWrapper {
    max-width: $main-width;

    address {
      margin-top: 3rem;
      font-style: normal;
    }

    .addressText {
      text-align: center;
    }
  }
}
