@import "../_variables.scss";

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-dgreen;
  box-shadow: 0 10px 10px rgb(0 0 0 / 15%);

  .navListItems {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5rem;

    .navItem {
      margin: 0 0.5rem;
      text-transform: uppercase;
      letter-spacing: 1px;

      a {
        color: white;
      }
    }
  }
}
